@import '../../stylesheets/heartwood';

.assets-container {
    padding: $spacing__6 $spacing__10;
    max-width: $l__width;
}

.assets-section {
    padding: $spacing__4;
}

.assets-section__inner {
    @extend %mx-auto;
    max-width: $l__width;
}

.asset-group-title {
    padding-bottom: $spacing__4;
    text-transform: capitalize;
}
