@import '../../stylesheets/heartwood';

.layout {
    &.layout--has-left-sidebar {
        min-width: $l__width-wide;
        padding-left: $sidebar-width;
    }
}

.sidebar-nav-layout {
    min-width: $l__width-wide;
    padding-left: $sidebar-width;
}