%mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex-parent {
  display: flex;
  flex-flow: column;
  justify-content: center;

  @media screen and (min-width: $l__breakpoint-medium) {
      flex-flow: row;
  }
}

.flex-child {
  margin-top: $spacing__4;

  > * { width: 100%; }

  @media screen and (min-width: $l__breakpoint-medium) {
     width: calc(50% - #{$spacing__4});
  }
}
