
.flex-parent {
  display: flex;
  flex-flow: column;
  justify-content: center;

  @media screen and (min-width: $l__breakpoint-medium) {
      flex-flow: row;
  }
}

.flex-child {
  margin-top: $spacing__4;

  > * { width: 100%; }

  @media screen and (min-width: $l__breakpoint-medium) {
     width: calc(50% - #{$spacing__4});
  }
}

// Margin
%mx-auto {
  margin-left: auto;
  margin-right: auto;
}

$sides: (
    'all': '',
    'x': '',
    'y': '',
    't': 'top',
    'r': 'right',
    'b': 'bottom',
    'l': 'left'
);

@each $id, $side in $sides {
    @each $label, $value in $hw-spacing {
        @if $id == 'all' {
            %m-#{$label} {
                margin: $value;
            }
        } @else if $id == 'x' {
            %mx-#{$label} {
                margin-left: $value;
                margin-right: $value;
            }
        } @else if $id == 'y' {
            %my-#{$label} {
                margin-top: $value;
                margin-bottom: $value;
            }
        } @else {
            %m#{$id}-#{$label} {
                margin-#{$side}: $value;
            }
        }
    }
}


// Padding
@each $id, $side in $sides {
    @each $label, $value in $hw-spacing {
        @if $id == 'all' {
            %p-#{$label} {
                padding: $value;
            }
        } @else if $id == 'x' {
            %px-#{$label} {
                padding-left: $value;
                padding-right: $value;
            }
        } @else if $id == 'y' {
            %py-#{$label} {
                padding-top: $value;
                padding-bottom: $value;
            }
        } @else {
            %p#{$id}-#{$label} {
                padding-#{$side}: $value;
            }
        }
    }
}