@import '../../stylesheets/heartwood';

.platform-switch {
    // display: flex;
    padding-top: $spacing__4;
    padding-bottom: $spacing__4;
    border-bottom: 1px solid $border-color;
}

// .platform-switch__btn {
//     @extend %ts-code;
//     flex: 1 1 auto;
//     position: relative;
//     padding: $spacing__3 $spacing__4;
//     font-weight: $fw__bold;
//     color: $text-color__copy-light;
//     text-align: center;
//     text-decoration: none;

//     &:after {
//         content: '';
//         display: none;
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         width: 100%;
//         height: 3px;
//         background-color: $c__primary;
//     }

//     &:focus {
//         outline: none;
//     }

//     &.platform-switch__btn--current  {
//         color: $text-color__copy;
//         &:after {
//             display: block;
//         }
//     }
// }

.platform-switch__label {
    display: block;
    margin-bottom: $spacing__1;
    @extend %ts-label;
}

.platform-switch__select {
    width: 100%;
    height: 3rem;
    padding: 0 $spacing__4;
    background-color: $bg;
    border: 1px solid transparent;
    color: $text-color__copy;
    box-shadow: $layer__raised;
    cursor: pointer;
    appearance: none;

    &:hover {
        background-color: #fff;
    }

    &:focus {
        outline: none;
        border-color: $c__primary;
        box-shadow: 0 0 0 3px rgba($c__primary, 0.3);
    }
}