@import '../heartwood';

*,
*:before,
*:after { box-sizing: border-box; }

body {
	font-family: $font-family__primary;
	line-height: $lh-body;
    color: $text-color__copy;
    background-color: $bg;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-feature-settings: 'kern' 1;
}