@import '../heartwood';

/**
* Color classes
*/

// Background Colors
@each $label, $value in $hw-background-color {
    .bg-#{$label} {
        background-color: $value;
    }
}

// Border Colors
@each $label, $value in $hw-border-color {
    .border-color-#{$label} {
        border-color: $value;
    }
}

// Colors
@each $label, $value in $hw-color {
    .color-#{$label} {
        color: $value;
    }
}

// Text Colors
@each $label, $value in $hw-text-color {
    .tc-#{$label} {
        color: $value;
    }
}


/**
* Font classes
*/

// Font Families
@each $label, $value in $hw-font-family {
    .ff-#{$label} {
        font-family: $value;
    }
}

// Font Sizes
@each $label, $value in $hw-font-size {
    .fs-#{$label} {
        font-size: $value;
    }
}

// Line Heights
@each $label, $value in $hw-line-height {
    .line-height-#{$label} {
        line-height: $value;
    }
}

// Font Weights
@each $label, $value in $hw-font-weight {
    .fw-#{$label} {
        font-weight: $value;
    }
}


/**
* Layer
*/
@each $label, $value in $hw-layer {
    .layer-#{$label} {
        box-shadow: $value;
    }
}


/**
* Box Model
*/

// Margin
$sides: (
    'all': '',
    'x': '',
    'y': '',
    't': 'top',
    'r': 'right',
    'b': 'bottom',
    'l': 'left'
);

@each $id, $side in $sides {
    @each $label, $value in $hw-spacing {
        @if $id == 'all' {
            .m-#{$label} {
                margin: $value;
            }
        } @else if $id == 'x' {
            .mx-#{$label} {
                margin-left: $value;
                margin-right: $value;
            }
        } @else if $id == 'y' {
            .my-#{$label} {
                margin-top: $value;
                margin-bottom: $value;
            }
        } @else {
            .m#{$id}-#{$label} {
                margin-#{$side}: $value;
            }
        }
    }
}


// Padding
@each $id, $side in $sides {
    @each $label, $value in $hw-spacing {
        @if $id == 'all' {
            .p-#{$label} {
                padding: $value;
            }
        } @else if $id == 'x' {
            .px-#{$label} {
                padding-left: $value;
                padding-right: $value;
            }
        } @else if $id == 'y' {
            .py-#{$label} {
                padding-top: $value;
                padding-bottom: $value;
            }
        } @else {
            .p#{$id}-#{$label} {
                padding-#{$side}: $value;
            }
        }
    }
}



/**
* Layout
*/

.container {
    max-width: $l__width;
    margin-left: auto;
    margin-right: auto;
}

.container--tight {
    max-width: $l__width-tight;
    margin-left: auto;
    margin-right: auto;
}

.container--wide {
    max-width: $l__width-wide;
    margin-left: auto;
    margin-right: auto;
}


/**
* Debugging for layout
*/

.debug,
.debug * {
    background-color: rgba($c__primary, 0.05);
}