@import "../../stylesheets/heartwood";

.code-snippet {
    position: relative;
    padding: $spacing__2;
    background-color: $bg__day-dark;
    border-radius: 4px;

    &:hover {
        color: $c__day-primary_base;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba($c__day-primary_base, 0.3);
    }
}

.code-snippet__text {
    font-size: $size__font-1;
}