@import '../../stylesheets/heartwood';

.token {
    display: flex;
    justify-content: space-between;
    padding-top: $spacing__3;
    padding-bottom: $spacing__3;
    border-top: 1px solid $border-color;
}

.token__clipboard {
    display: block;
    cursor: pointer;
    text-align: left;

    &:focus,
    &:active {
        outline: none;
        background-color: $bg__dark;
    }
}

.token__name {
    font-weight: $fw__bold;
    color: $c__primary;

    .token__clipboard:hover & {
        color: $c__primary-light;
    }
}


.token__swatch {
    display: inline-block;
    width: $spacing__8;
    height: $spacing__8;
    background-color: rgba($c__primary, 0.5);
}